spring:
  profiles:
    active: dev
    include: common
  logging:
    level:
      org.hibernate.SQL: trace
      org.hibernate.type.descriptor.sql.BasicBinder: trace
server:
  servlet:
    encoding:
      force-response: true
  error:
    include-exception: true
    include-stacktrace: always

jwt:
  key: ${JWT_SECRET_KEY}
  access-token-expiration-minutes: 30
  refresh-token-expiration-minutes: 420


